.btn-blue{
	background-color:#dd6d6d ;
	padding: 15px 20px;
	border-radius: 4px;
	color: white ;
	font-weight: bold;
	font-family: roboto;
}

.btn-blue:hover {
	background-color: #b6393b;
	color: white;